<h2 mat-dialog-title class="title">Update User</h2>

<mat-dialog-content >
  <form [formGroup]="userForm" class="content">

    <div class="form-column">

        <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Languages Spoken</mat-label>
         <mat-select
            formControlName="languages"
            multiple
            (selectionChange)="onLanguageChange($event)">
            <mat-option *ngFor="let l of languages" [value]="l.id">
              {{ l.description }}
            </mat-option>
        </mat-select>
    </mat-form-field>

     <mat-form-field appearance="outline">
        <mat-label>Telephone</mat-label>
        <input matInput formControlName="telephone" />
      </mat-form-field>

    <app-date-time-picker title="Start" *ngIf="this.currentUser?.id === userId"/>
    <app-date-time-picker title="Finish" *ngIf="this.currentUser?.id === userId"/>

    </div>


      <div class="form-row">
        <mat-form-field appearance="outline">
        <mat-label>Center</mat-label>
        <mat-select formControlName="centerId">
            <mat-option *ngFor="let c of centers; index as i" [value]="c.id">{{ c.description }}</mat-option>
        </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select 
          formControlName="userRole" 
          (selectionChange)="onRoleChange($event)">
            <mat-option *ngFor="let r of roleOptions" [value]="r.value">{{ r.viewValue }}</mat-option>
        </mat-select>
        </mat-form-field>
  </div>
 
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
   <button mat-flat-button color="primary" (click)="onCancel()">
    Cancel
  </button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!userForm.valid">
    Save
  </button>
</mat-dialog-actions>
  