footer{
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
}

footer i{
    font-size: 13px;
}