@use 'sass:map';
@use '@angular/material' as mat;
@use 'styles/redcross-theme' as redcross-theme;
@include mat.core();

$redcross-theme: mat.define-theme((
  color: (
    primary: redcross-theme.$primary-palette,
    tertiary: redcross-theme.$tertiary-palette,
  ),
  density: (
    scale: 0,
  ),
));

html {
  @include mat.all-component-themes($redcross-theme);

  @include mat.button-overrides((
    filled-container-height: 2rem,
    filled-container-shape: 5px,
  ));

  @include mat.sidenav-overrides((
    container-background-color: map.get($redcross-theme, surface-dim),
  ));

  @include mat.button-overrides((
    filled-container-height: 2rem,
    filled-container-shape: 5px,
  ));

  @include mat.sidenav-overrides((
    container-background-color: map.get($redcross-theme, surface-dim)
  ));
}

// Global styles
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

