@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../../styles/redcross-theme.scss' as redcross-theme;

.stepper {
  list-style: none;
  display: flex;
  padding:10px 0;
  margin: 0;
  background-color: map.get(redcross-theme.$primary-palette, 100);
}

.step{
  background-color:  map.get(redcross-theme.$primary-palette, 35);
  padding: .3rem 1rem;
  margin-right: 1rem;
  text-align: center;
  position: relative;
  border-radius: 4px;

}

.step::after{
  content: "";
  position: absolute;
  right: -23.7px; 
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-radius: 3px;
  border-left: 12px solid  map.get(redcross-theme.$primary-palette, 35);
  border-right: 12px solid transparent;
  border-bottom: 14px solid transparent;
  border-top: 14px solid transparent;
  box-sizing: border-box;
}

.step a {
  text-decoration: none;
  color: map.get(redcross-theme.$primary-palette, 100);
}

.step a:hover {
  color: map.get(redcross-theme.$primary-palette, 100);
}

.active {
  font-weight: bold;
  color: map.get(redcross-theme.$primary-palette, 100);
}


.step:last-child {
  background-color: map.get(redcross-theme.$primary-palette, 40);
}

.step:last-child::after {
  border-left: 13px solid  map.get(redcross-theme.$primary-palette, 40);
}

