@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../../styles/redcross-theme.scss' as redcross-theme;

.stepper {
  list-style: none;
  display: flex;
  padding:10px 0;
  margin: 0;
  background-color: map.get(redcross-theme.$primary-palette, 100);
}

.step{
  background-color:  map.get(redcross-theme.$primary-palette, 35);
  padding: .5rem 0;
  width: 6rem;
  text-align: center;
  position: relative;
  outline-width: 0px;
  border-right: 14px solid map.get(redcross-theme.$primary-palette, 100);
}

.step::after{
  content: "";
  position: absolute;
  right: -23.7px; 
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 12px solid  map.get(redcross-theme.$primary-palette, 35);;
  border-right: 12px solid transparent;
  border-bottom: 17px solid transparent;
  border-top: 17px solid transparent;
  box-sizing: border-box;
}

.step a {
  text-decoration: none;
  color: map.get(redcross-theme.$primary-palette, 100);
}

.step a:hover {
  color: map.get(redcross-theme.$primary-palette, 100);
}

.active {
  font-weight: bold;
  color: map.get(redcross-theme.$primary-palette, 95);
}

