@use '@angular/material' as mat;

.full-width {
    width: 100%;
  }

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
  
.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: beige;
}
  
.mat-mdc-row:nth-child(odd) {
  background-color: #f6f4f7;
}

.mat-mdc-row:nth-child(even) {
  background-color: #ffffff;
}

.btn {
  margin-right: .2rem;
}